.contact-info {
  width: 350px;
  // width: calc(100% - 350px);
  display: flex;
  flex-direction: column;
  align-self: flex-start;


  padding: 20px;
  // margin-right: auto;
  border: none !important;


  @media (max-width: 768px) {
    width: 50% !important;
  }

  @media (max-width: 580px) {
    width: 100% !important;
  }

  .logo {
    display: inline-block;
    height: 40px;
    background-image: $logo;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    filter: grayscale(1) brightness(0) opacity(0.2);
  }

  a {
    position: relative;
    width: fit-content;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:before {
      content: "";
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      padding-right: 20px;
    }

    &.phone:before {
      background-image: $bigphone;
    }

    &.mail:before {
      background-image: $bigmail;
      height: 25px;

    }

    &:hover {
      color: $secondary;
    }

    @media (max-width: 580px) {
      &:last-child {
        margin-left: 20px;
      }

      &:before {
        padding-right: 10px;
      }
    }

    @media (max-width: 425px) {
      &:last-child {
        margin-left: 0;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;

    @media (max-width: 580px) {
      flex-direction: row;
    }

    @media (max-width: 425px) {
      flex-direction: column;
    }
  }

  .company {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
}