.copyright {
  width: 100%;
  background: $primary;
  color: $bright;
  font-size: 12px;

  .container {
    padding: 5px 20px;

    @media (max-width: 580px) {
      flex-direction: column;
      text-align: center;
    }
  }

  a {
    color: $bright;

    &:hover {
      color: $accent;
    }
  }

}